screenshots/Screenshot 2022-12-27 at 1.53.38 PM.png
screenshots/Screenshot 2022-12-27 at 3.32.49 PM.png
screenshots/Screenshot 2023-01-02 at 4.04.45 PM.png
screenshots/Screenshot 2023-01-04 at 3.04.05 PM (2).png
screenshots/Screenshot 2023-01-04 at 3.04.05 PM.png
screenshots/Screenshot 2023-01-04 at 3.31.41 PM (2).png
screenshots/Screenshot 2023-01-04 at 3.31.41 PM.png
screenshots/Screenshot 2023-01-04 at 4.24.25 PM (2).png
screenshots/Screenshot 2023-01-04 at 4.24.25 PM.png
screenshots/Screenshot 2023-01-06 at 5.11.16 PM.png
screenshots/Screenshot 2022-12-27 at 3.12.04 PM.png
.DS_Store
