
/* ~~~~~~~~~~ PAGE ALL-UP ~~~~~~~~~~ */

div#filter-page {
    background-color: #458A72;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    row-gap: 120px;
}



/* ~~~~~~~~~~ FILTER AREA ~~~~~~~~~~ */
  
div#filter-page > div#filter-area {
    max-width: 1050px;
    min-width: 700px;
    text-align: center;
    color: white;
    font-size: 64px;
    font-weight: bold;
    line-height: 132px;
}

div#filter-page > div#filter-area > div#filter-paragraph > select {
    height: 54px;
    margin: 0 5px;
    padding: 0 12px;
    position: relative;
    bottom: 9px;
    font-size: 36px;
    font-weight: bold;
    color: #085742;
    text-align: center;
}



/* ~~~~~~~~~~ BUTTON AREA ~~~~~~~~~~ */

div#filter-page > div#submit-area > button {
    margin: auto;
    height: 54px;
    width: 250px;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: bold;
    background-color: #CAFBE8;
    color: #085742;
    border: 2px solid #085742;
    border-radius: 14px;
}

div#filter-page > div#submit-area > button:hover {
    background-color: #085742;
    cursor: pointer;
    color: white;
    border-color: white;
    border-width: 3px;
}

div#filter-page > div#submit-area > button:active {
    background-color: #0a6d53;
}