/* Add global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

div.page-container {
    height: 100vh;
    padding: 0px 25px;
    display: flex;
    align-items: center;
    text-align: center;
}