div#landing-page {
  background-color: #085742; 
  display: flex;
  justify-content: center;
  align-items: center;
}

div#landing-page > div#title-area {
  text-align: center;
}

div#landing-page > div#title-area > h1 {
  font-size: 96px;
  color: white;
  margin-bottom: 32px;
}

div#landing-page > div#title-area > h2 {
  font-size: 32px;
  color: #CAFBE8;
  line-height: 50px;
}