div#landing-page {
  background-image: linear-gradient(#458A72,#085742); 
  display: flex;
  justify-content: center;
  align-items: center;
}

div#landing-page > div#title-area {
  text-align: center;
}

div#landing-page > div#title-area > h1 {
  font-size: 96px;
  color: #FFFFFF;
  margin-bottom: 32px;
}

div#landing-page > div#title-area > h2 {
  font-size: 32px;
  color: #DDDDDD;
  line-height: 50px;
}