/* Setting up the overall flow of all the result-container divs */
div#results-page {
  background-color: #DDDDDD;
  flex-direction: column;
  flex-wrap: wrap;
}

div#results-page > div.result-container {
  background-color: #FFFFFF;
  width: 1000px;
  flex: 1;
  margin: 20px 0px;
}

/* Setting up the flow of the total-profit-box div
   The top 1/3 should have the "Then you would have..." text
   And the bottom 2/3 should have the profit result */
div#results-page > div.result-container#total-profit-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

div#results-page > div.result-container#total-profit-box > span {
  font-size: 36px;
  margin: 20px 0px;
}

div#results-page > div.result-container#total-profit-box > span#result-text {
  font-size: 54px;
  font-weight: bold;
}


/* Setting up the flow of the raw-data-UI div */
div#results-page > div#raw-data-box {
  background-color: #FFFFFF;
  overflow-y: scroll;
}

div#results-page > div#raw-data-box > div {
  padding: 5px;
}