/* Setting up the overall flow of all the result-container divs */
div#results-page {
  background-color: #DDDDDD;
  flex-direction: column;
  flex-wrap: wrap;
}

div#results-page > div.result-container {
  background-color: #FFFFFF;
  width: 1000px;
  flex: 1;
  margin: 20px 0px;
}

/* Setting up the flow of the raw-data-UI div */
div#results-page > div#raw-data-box {
  background-color: #FFFFFF;
  overflow-y: scroll;
}

div#results-page > div#raw-data-box > div {
  padding: 5px;
}