html, body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
}  

#container {
  display: flex;
  height: 100%;
  width: 100%;
}

#sidebar {
  height: 100%;
  width: 320px; /* set the width of the sidebar */
  padding-top: 20px;
  background-color: rgb(227, 224, 213); /* add a background color for illustration */
}

#sidebar > #input-area {
  width: 90%;
  margin: auto;
  /* border: 1px solid red; */
}

#sidebar > #input-area > div.input-row {
  /* display: block; */
  margin-bottom: 20px;
  /* border: 1px solid red; */
}

#sidebar > #input-area > div.input-row > * {
  display: inline-block;
  font-family: 'Courier New', Courier, monospace;
}

button {
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  margin-top: 20px;

}

#main-content {
  flex: 1; /* take up the remaining space */
  height: 100%;
  background-color: #fff; /* add a background color for illustration */
}

#main-content > #results-container {
  border: 1px solid black;
  width: 300px;
  height: 200px;
  overflow-y: scroll;
}

#main-content > #results-container > div {
  padding: 5px;
}