html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}  

.full-screen {
  height: 100vh;
  width: 100%;
}

#input-area {
  font-size: 36px;
  line-height: 64px;
  width: 90%;
  margin: auto;
}

#input-area > select {
  font-size: 28px;
  height: 36px;
  /* margin-left: 10px;
  margin-right: 10px; */
}

#input-area > #submit > button {
  font-family: sans-serif;
  font-size: 16px;
  margin-top: 20px;
  height: 30px;
  border: 1px solid black;
  border-radius: 2px;
}

#main-content {
  flex: 1; /* take up the remaining space */
  height: 100%;
  padding: 20px;
  /*background-color: rgba(255, 255, 255);*/ /* add a background color for illustration */
}

#main-content > #raw-data-container {
  border: 1px solid black;
  width: 300px;
  height: 200px;
  overflow-y: scroll;
}

#main-content > #raw-data-container > div {
  padding: 5px;
}