
/* ~~~~~~~~~~ PAGE ALL-UP ~~~~~~~~~~ */

div#summary-page {
    background-color: #DDDDDD;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    row-gap: 135px;
}



/* ~~~~~~~~~~ TOTAL PROFIT DIV ~~~~~~~~~~ */

div#summary-page > div#total-profit-div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 60px;
}

div#summary-page > div#total-profit-div > span {
    font-size: 64px;
    font-weight: bold;
    color: #085742;
}

div#summary-page > div#total-profit-div > span#result-text {
    font-size: 96px;
    font-weight: bold;
}



/* ~~~~~~~~~~ BUTTONS DIV ~~~~~~~~~~ */

div#summary-page > div#summary-page-buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 20px 40px;
}

div#summary-page > div#summary-page-buttons > button {
    height: 54px;
    width: 250px;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: bold;
    background-color: white;
    color: #085742;
    border: 2px solid #085742;
    border-radius: 14px;
}

div#summary-page > div#summary-page-buttons > button:hover {
    background-color: #CAFBE8;
    cursor: pointer;
    color: #085742;
    border-color: #085742;
    border-width: 3px;
}

div#summary-page > div#summary-page-buttons > button:active {
    background-color: #458A72;
}