<html>
  <head>
    <title>Moneyline</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="/static/js/query-ui-update.js"></script>
  </head>
  <body>
    <!-- HTML for the UI filters and results -->
    <label for="name-input">Name:</label>
    <input type="text" id="name-input">
    <br>
    <label for="email-input">Email:</label>
    <input type="text" id="email-input">
    <br>
    <button id="submit-button">Submit</button>
    <br><br>
    <div id="results-container"></div>
  </body>
</html>