<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>NBA Bet Simulator</title>
		<link rel="stylesheet" href="../style.css" />
	</head>
		<body>
			<div id="app">
				<div id="filter-area">
					<div id="filter-header">
						<h1 id="filter-title">NBA Bet Simulator</h1>
						<h2 id="filter-subtitle">
							Could the simplest possible betting strategy be
							profitable?
						</h2>
					</div>
					<div id="filter-paragraph">
						<div class="filter-row">
							<div>Team:</div>
							<select id="team-input" class="dropdown"></select>
						</div>
						<div class="filter-row">
							<div>Season:</div>
							<select id="season-input" class="dropdown"></select>
						</div>
						<div class="filter-row">
							<div>Prediction:</div>
							<select
								id="outcome-input"
								class="dropdown"
							></select>
						</div>
						<div class="filter-row">
							<div>Bet amount:</div>
							<select id="bet-input" class="dropdown"></select>
						</div>
						<button>Place Bet!</button>
					</div>
				</div>
				<div id="result-area"></div>
			</div>

			<!-- <div id="landing-page" class="page-container">
			<div id="title-area">
				<h1>NBA Bet Simulation</h1>
				<h2>
					Test out this simple betting strategy, before spending a
					dime!
				</h2>
			</div>
		</div>
		<div id="filter-page" class="page-container">
			<div id="filter-area">
				<div id="filter-paragraph">
					<span>If you had bet </span>
					<select id="bet-input" class="dropdown"></select>
					<span>on the </span>
					<select id="team-input" class="dropdown"></select>
					<span>to </span>
					<select id="outcome-input" class="dropdown"></select>
					<span> every game of the </span>
					<select id="season-input" class="dropdown"></select>
					<span> NBA season...</span>
				</div>
			</div>
			<div id="submit-area">
				<button id="submit-button">View outcome!</button>
			</div>
		</div>

		<div id="summary-page" class="page-container">
			<div id="total-profit-div"></div>
			<div id="summary-page-buttons">
				<button id="change-filters">Change filters</button>
				<button id="more-detail">More detail</button>
			</div>
		</div>

		<div id="results-page" class="page-container">
			<div id="raw-data-box" class="result-container"></div>
		</div> -->

			<!-- include the JavaScript file that generates the dropdown options -->
			<script src="/static/js/dropdown-options.js"></script>
			<script src="/static/js/query-ui-update.js"></script>
			<script src="/static/js/summary-page-scroll.js"></script>
		</body>
	</html>
</html>
